
body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "League Spartan", Arial, Helvetica, sans-serif;
  border: 0 !important;
  overflow-x: hidden !important;
  overflow-y: scroll !important;
  height: 100%;
  touch-action: none;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.title{
  font-family: 'League Spartan', sans-serif;
  font-weight: bold;
  font-size: clamp(1.5rem, 0.5352rem + 3.8122vw, 4.375rem);
  color: #333;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.left{
  display: flex;
  align-items: center;
}


.home i,
.how i {
  font-size: clamp(1.5rem, 0.3352rem + 3.8122vw, 4.375rem);
  color: #333;
  cursor: pointer;
  transition: transform 0.3s ease;
}


.home i:active,
.how i:active {
  transform: scale(0.95);
}

.pyramid{
  gap: 10px;
  width: 50vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row{
  gap: 5px;
  width: 50vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space{
  width: clamp(3.75rem, 2.1961rem + 8.2873vw, 7.5rem); /*60-120*/
  height: clamp(3.75rem, 2.1961rem + 8.2873vw, 7.5rem);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.space p{
  text-align: center;
  font-size: clamp(1.875rem, 1.0981rem + 4.1436vw, 3.75rem); /*30-60*/
  margin: 0;
  font-weight: bold;
  margin-top: 3px;
}

.space:hover{
  background-color: linear-gradient(0deg, rgba(221,220,219,1) 0%, rgba(249,249,249,1) 100%);
  box-shadow: inset 0px 10px 67px 4px rgba(0,0,0,0.25);
  cursor: pointer;
}

.space:active{
  transform: scale(95%);
}

.space-add {

  width: clamp(3.75rem, 2.1961rem + 8.2873vw, 7.5rem); /*60-120*/
  height: clamp(3.75rem, 2.1961rem + 8.2873vw, 7.5rem);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.correct{
  background: #538d4e;
  color: white;
  height: clamp(3.75rem, 2.1961rem + 8.2873vw, 7.5rem);
  width: clamp(3.75rem, 2.1961rem + 8.2873vw, 7.5rem);
}

.wrong{
  background: #b31515;
  color: white;
  height: clamp(3.75rem, 2.1961rem + 8.2873vw, 7.5rem);
  width: clamp(3.75rem, 2.1961rem + 8.2873vw, 7.5rem);
}


.bottom{
  width: 25vmax;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2px;
}

.bottom i{
  font-size: 60px;
}

.restart{
  height: calc(4vmax);
  width: calc(4vmax); 
  background-color:white;
  border-radius: 50%;
  color: rgb(123, 120, 120);
  display: flex;
  align-items: center;
  justify-content: center;
}

.skip{
  height: calc(4vmax);
  width: calc(4vmax); 
  background-color: rgb(123, 120, 120);
  border-radius: 2vmax;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.letter, .next-letter{
  width: clamp(3.75rem, 2.1961rem + 8.2873vw, 7.5rem); /*60-120*/
  height: clamp(3.75rem, 2.1961rem + 8.2873vw, 7.5rem);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.letter{

}
.next-letter{
  scale: 0.7;
  opacity: 0.7;
}

.letter p, #next-letter-text{
  text-align: center;
  font-size: clamp(1.875rem, 1.0981rem + 4.1436vw, 3.75rem);
  margin-bottom: 0;
  font-weight: bold;
  color: #333;
  margin-top: 3px;
}

@keyframes pop-in{
  from{
      transform: scale(0%);
  }
  to {
      transform: scale(100%);
  }
}

@keyframes right-in{
  from{
      transform: translateX(30%);
  }
  to {
      transform: translateX(0%);
  }
}


.very-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.skips{
  font-size: clamp(0.9375rem, 0.2901rem + 3.453vw, 2.5rem);
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 30px;
  padding: 20px 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin-top: 5vh;
  color: #333;
}

.skips{
  width: 40vw;
}


dialog {
  background-color: #ffffff;
  color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 700vw;
  left: 0;
  right: 0;
  width: 70vw;
  overflow: auto;
}

dialog h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

dialog h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

dialog p {
  font-size: 16px;
  margin-bottom: 20px;
}


dialog button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

dialog button:hover {
  background-color: #0056b3;
}

@media (min-height: 900px) and (max-height: 1100px) and (min-width: 650px){
  .pyramid, .bottom, .skips {
    width: 50vw; 
  }

  .top, .bottom {
    padding: 15px; 
  }

  .space, .letter {
    width: clamp(3rem, 1.8rem + 6vw, 6rem); 
    height: clamp(3rem, 1.8rem + 6vw, 6rem);
  }

  .skips {
    font-size: clamp(0.875rem, 0.25rem + 3.5vw, 2.25rem); 
    margin-top: 4vh; 
  }
}

@media (min-height: 600px) and (max-height: 900px) and (min-width: 650px){
  .pyramid, .bottom, .skips {
    width: 35vw; 
  }

  .top, .bottom {
    padding: 7px; 
  }

  .space, .letter {
    width: clamp(3rem, 1.8rem + 6vw, 6rem); 
    height: clamp(3rem, 1.8rem + 6vw, 6rem);
  }

  .skips{
    font-size: clamp(0.875rem, 0.25rem + 3.5vw, 2.25rem); 
    margin-top: 4vh; 
  }
}

