body{
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', Arial, Helvetica, sans-serif;
}

main{
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.title{
  width: 90vw;
  font-size: clamp(1.375rem, 0.7794rem + 3.1768vw, 2.8125rem); /* 22 - 45 */
  font-weight: bold;
  text-align: left;
}

.top i{
  font-size: clamp(1.5rem, 0.3352rem + 3.8122vw, 4.375rem);
}

.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.card{
  display: flex;
  flex-direction: column;
  font-size: clamp(0.875rem, 0.2017rem + 3.5912vw, 2.5rem); /* 15-40 */
  padding: 10px;
  width: 23vw;
  height: 20vh;
  background-color: #ff7f6b;
  color: white;
  border-radius: 10px;
}

.stat{
  align-self: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: clamp(2.1875rem, 0.8926rem + 6.9061vw, 5.3125rem); /* 35 - 85 */
  text-wrap: balance;
  font-weight: bold;
}

.card:nth-child(1){
  border-top-left-radius: 20px;
}

.card:nth-child(3){
  border-top-right-radius: 20px;
}

.card:nth-child(4){
  border-bottom-left-radius: 20px;
}

.card:nth-child(6){
  border-bottom-right-radius: 20px;
}